@use '../variables';

.common_font {
  font-family: var(--font-inter);
}

.common_color {
  color: variables.$color-foreground-dark;
}

.front_page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.not_found {
  display: flex;
  flex-direction: column;
  gap: 2rem;

    &__link {
      padding: 0.5rem;
      border-radius: 0.5rem;
      width: fit-content;

      &:hover {
        background-color: variables.$color-foreground-light;
      }
    }
}