@use '../../../variables';

.header {
    width: 80%;
    min-width: 44rem;
    margin: 0 auto;
    border-block-end: 1px solid variables.$color-border-light;
    //height: 11rem;
    
    &__menu-container {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        font-size: 1rem;
        font-weight: 400;
    }

    &__logo-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    &__heading {
        font-size: 1.25rem;
        font-weight: 400;
    }

    &__menu {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    &__menu-item {
        padding: 0.5rem;
        border-radius: 0.5rem;

        &:hover {
            background-color: variables.$color-foreground-light;
        }
    }

    .active {
        background-color: variables.$color-foreground-light;
    }

    &__warning {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: variables.$color-background-light;
        border-block: 1px solid variables.$color-border-light;
        
        &-text {
            color: variables.$color-error;
        }

        &-icon {
            color: variables.$color-succes;
        }
    }
}