@use '../../../variables';

.header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1rem;
    font-weight: 400;
    border-block-end: 1px solid variables.$color-border-light;

    &__logo-container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    &__heading {
        font-size: 1.25rem;
        font-weight: 400;
    }

    &__menu {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    &__menu-item {
        padding: 0.5rem;
        border-radius: 0.5rem;

        &--medium-color {
            padding: 0.5rem 1rem;
            background-color: variables.$color-background-medium;
            border: 1px solid variables.$color-border-medium;
            border-radius: 0.5rem;
            margin-inline: 0.5rem;
        }
        
        &--dark-color {
            padding: 0.5rem 1rem;
            background-color: variables.$color-brand;
            color: variables.$color-foreground-light;
            border: 1px solid variables.$color-brand;
            border-radius: 0.5rem;
            margin-inline-start: 0.5rem;
        }
    }
}