@use '../../../variables';

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block-end: 1rem;
    
    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.125rem;
        border: 1px solid variables.$color-border-light;
        margin-block: 5.5rem;
        margin: 0 auto;
        min-width: 25rem;
        max-width: 60%;
        padding: 1rem 1rem;
        border-radius: 0.5rem;
    }

    &__heading {
        font-size: 1.625rem;
        font-weight: 400;
        text-align: center;
        padding-block-end: 1rem;
    }
    
    &__label {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    &__input {
        width: 100%;
        padding: 0.5rem 1rem;
        border: 1px solid variables.$color-border-light;
        border-radius: 0.5rem;
        font-size: 1.125rem;
    }

    &__error-message {
        color: variables.$color-error;
    }

    &__success {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding-block: 1rem;

        &-container {
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }
        
        &-icon {
            color: variables.$color-succes;
            font-size: 1.5rem;

            &--big {
                font-size: 3rem;
            }
        }

        &-text {
            text-align: center;
            line-height: 1.5;
        }

        &-list {
            width: 100%;
            padding-block-start: 2rem;
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 1rem;
            row-gap: 0.5rem;
            /* display: flex;
            flex-direction: column;
            gap: 0.5rem; */

            &-item {
                display: flex;
                justify-content: space-between;
            }
        }

        &-span {
            display: block;
        }
    }

    &__button {
        //padding: 0.5rem 1rem; ?
        padding: 0.75rem;
        background-color: variables.$color-brand;
        color: variables.$color-foreground-light;
        border: 1px solid variables.$color-brand;
        border-radius: 0.5rem;
        font-size: 1.125rem;
        
        &:hover {
            background-color: variables.$color-background-medium;
            border: 1px solid variables.$color-border-medium;
            color: variables.$color-brand;
            cursor: pointer;
        }
    }
    
    &__link {
        padding: 0.75rem;
        background-color: variables.$color-brand;
        color: variables.$color-foreground-light;
        border: 1px solid variables.$color-brand;
        border-radius: 0.5rem;
        font-size: 1.125rem;
        margin-block-start: 2rem;
        
        &:hover {
            background-color: variables.$color-background-medium;
            border: 1px solid variables.$color-border-medium;
            color: variables.$color-brand;
            cursor: pointer;
        }
    }

    &__loading {
        padding-block: 1rem;
        font-size: 1.125rem;
        text-align: center;
    }

    &__page-style {
        min-width: 25rem;
        max-width: 35%;
    }
}